# R environment management
Notebooks/renv/
!Notebooks/renv.lock

# R session files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# RStudio project files
*.Rproj

# System-specific junk
.DS_Store
Thumbs.db

# DVC Handlers
*.gz
*.RDS 
*.rds