/SRR8052842.ReadsPerGene.out.tab.gz
/SRR8052755.ReadsPerGene.out.tab.gz
/SRR8052786.ReadsPerGene.out.tab.gz
/SRR8052833.ReadsPerGene.out.tab.gz
/SRR8052724.ReadsPerGene.out.tab.gz
/SRR8052802.ReadsPerGene.out.tab.gz
/SRR8052715.ReadsPerGene.out.tab.gz
/SRR8052789.ReadsPerGene.out.tab.gz
/SRR8052764.ReadsPerGene.out.tab.gz
/SRR8052749.ReadsPerGene.out.tab.gz
/SRR8052777.ReadsPerGene.out.tab.gz
/SRR8052738.ReadsPerGene.out.tab.gz
/SRR8052811.ReadsPerGene.out.tab.gz
/SRR8052820.ReadsPerGene.out.tab.gz
/SRR8052709.ReadsPerGene.out.tab.gz
/SRR8052795.ReadsPerGene.out.tab.gz
/SRR8052737.ReadsPerGene.out.tab.gz
/SRR8052851.ReadsPerGene.out.tab.gz
/SRR8052778.ReadsPerGene.out.tab.gz
/SRR8052746.ReadsPerGene.out.tab.gz
/SRR8052711.ReadsPerGene.out.tab.gz
/SRR8052838.ReadsPerGene.out.tab.gz
/SRR8052806.ReadsPerGene.out.tab.gz
/SRR8052760.ReadsPerGene.out.tab.gz
/SRR8052849.ReadsPerGene.out.tab.gz
/SRR8052751.ReadsPerGene.out.tab.gz
/SRR8052846.ReadsPerGene.out.tab.gz
/SRR8052809.ReadsPerGene.out.tab.gz
/SRR8052720.ReadsPerGene.out.tab.gz
/SRR8052837.ReadsPerGene.out.tab.gz
/SRR8052782.ReadsPerGene.out.tab.gz
/SRR8052733.ReadsPerGene.out.tab.gz
/SRR8052791.ReadsPerGene.out.tab.gz
/SRR8052824.ReadsPerGene.out.tab.gz
/SRR8052742.ReadsPerGene.out.tab.gz
/SRR8052773.ReadsPerGene.out.tab.gz
/SRR8052815.ReadsPerGene.out.tab.gz
/SRR8052827.ReadsPerGene.out.tab.gz
/SRR8052792.ReadsPerGene.out.tab.gz
/SRR8052819.ReadsPerGene.out.tab.gz
/SRR8052730.ReadsPerGene.out.tab.gz
/SRR8052741.ReadsPerGene.out.tab.gz
/SRR8052770.ReadsPerGene.out.tab.gz
/SRR8052816.ReadsPerGene.out.tab.gz
/SRR8052828.ReadsPerGene.out.tab.gz
/SRR8052805.ReadsPerGene.out.tab.gz
/SRR8052712.ReadsPerGene.out.tab.gz
/SRR8052763.ReadsPerGene.out.tab.gz
/SRR8052845.ReadsPerGene.out.tab.gz
/SRR8052752.ReadsPerGene.out.tab.gz
/SRR8052781.ReadsPerGene.out.tab.gz
/SRR8052834.ReadsPerGene.out.tab.gz
/SRR8052723.ReadsPerGene.out.tab.gz
/SRR8052774.ReadsPerGene.out.tab.gz
/SRR8052799.ReadsPerGene.out.tab.gz
/SRR8052812.ReadsPerGene.out.tab.gz
/SRR8052734.ReadsPerGene.out.tab.gz
/SRR8052796.ReadsPerGene.out.tab.gz
/SRR8052823.ReadsPerGene.out.tab.gz
/SRR8052745.ReadsPerGene.out.tab.gz
/SRR8052852.ReadsPerGene.out.tab.gz
/SRR8052756.ReadsPerGene.out.tab.gz
/SRR8052841.ReadsPerGene.out.tab.gz
/SRR8052768.ReadsPerGene.out.tab.gz
/SRR8052727.ReadsPerGene.out.tab.gz
/SRR8052830.ReadsPerGene.out.tab.gz
/SRR8052719.ReadsPerGene.out.tab.gz
/SRR8052785.ReadsPerGene.out.tab.gz
/SRR8052716.ReadsPerGene.out.tab.gz
/SRR8052728.ReadsPerGene.out.tab.gz
/SRR8052801.ReadsPerGene.out.tab.gz
/SRR8052767.ReadsPerGene.out.tab.gz
/SRR8052759.ReadsPerGene.out.tab.gz
/SRR8052814.ReadsPerGene.out.tab.gz
/SRR8052772.ReadsPerGene.out.tab.gz
/SRR8052854.ReadsPerGene.out.tab.gz
/SRR8052743.ReadsPerGene.out.tab.gz
/SRR8052790.ReadsPerGene.out.tab.gz
/SRR8052825.ReadsPerGene.out.tab.gz
/SRR8052732.ReadsPerGene.out.tab.gz
/SRR8052836.ReadsPerGene.out.tab.gz
/SRR8052783.ReadsPerGene.out.tab.gz
/SRR8052721.ReadsPerGene.out.tab.gz
/SRR8052808.ReadsPerGene.out.tab.gz
/SRR8052847.ReadsPerGene.out.tab.gz
/SRR8052750.ReadsPerGene.out.tab.gz
/SRR8052848.ReadsPerGene.out.tab.gz
/SRR8052761.ReadsPerGene.out.tab.gz
/SRR8052807.ReadsPerGene.out.tab.gz
/SRR8052839.ReadsPerGene.out.tab.gz
/SRR8052710.ReadsPerGene.out.tab.gz
/SRR8052747.ReadsPerGene.out.tab.gz
/SRR8052779.ReadsPerGene.out.tab.gz
/SRR8052850.ReadsPerGene.out.tab.gz
/SRR8052736.ReadsPerGene.out.tab.gz
/SRR8052708.ReadsPerGene.out.tab.gz
/SRR8052821.ReadsPerGene.out.tab.gz
/SRR8052794.ReadsPerGene.out.tab.gz
/SRR8052810.ReadsPerGene.out.tab.gz
/SRR8052739.ReadsPerGene.out.tab.gz
/SRR8052776.ReadsPerGene.out.tab.gz
/SRR8052748.ReadsPerGene.out.tab.gz
/SRR8052765.ReadsPerGene.out.tab.gz
/SRR8052714.ReadsPerGene.out.tab.gz
/SRR8052788.ReadsPerGene.out.tab.gz
/SRR8052803.ReadsPerGene.out.tab.gz
/SRR8052725.ReadsPerGene.out.tab.gz
/SRR8052787.ReadsPerGene.out.tab.gz
/SRR8052832.ReadsPerGene.out.tab.gz
/SRR8052754.ReadsPerGene.out.tab.gz
/SRR8052843.ReadsPerGene.out.tab.gz
/SRR8052758.ReadsPerGene.out.tab.gz
/SRR8052766.ReadsPerGene.out.tab.gz
/SRR8052800.ReadsPerGene.out.tab.gz
/SRR8052729.ReadsPerGene.out.tab.gz
/SRR8052717.ReadsPerGene.out.tab.gz
/SRR8052718.ReadsPerGene.out.tab.gz
/SRR8052831.ReadsPerGene.out.tab.gz
/SRR8052784.ReadsPerGene.out.tab.gz
/SRR8052726.ReadsPerGene.out.tab.gz
/SRR8052769.ReadsPerGene.out.tab.gz
/SRR8052840.ReadsPerGene.out.tab.gz
/SRR8052757.ReadsPerGene.out.tab.gz
/SRR8052853.ReadsPerGene.out.tab.gz
/SRR8052744.ReadsPerGene.out.tab.gz
/SRR8052797.ReadsPerGene.out.tab.gz
/SRR8052822.ReadsPerGene.out.tab.gz
/SRR8052735.ReadsPerGene.out.tab.gz
/SRR8052813.ReadsPerGene.out.tab.gz
/SRR8052798.ReadsPerGene.out.tab.gz
/SRR8052775.ReadsPerGene.out.tab.gz
/SRR8052722.ReadsPerGene.out.tab.gz
/SRR8052780.ReadsPerGene.out.tab.gz
/SRR8052835.ReadsPerGene.out.tab.gz
/SRR8052753.ReadsPerGene.out.tab.gz
/SRR8052844.ReadsPerGene.out.tab.gz
/SRR8052762.ReadsPerGene.out.tab.gz
/SRR8052713.ReadsPerGene.out.tab.gz
/SRR8052804.ReadsPerGene.out.tab.gz
/SRR8052829.ReadsPerGene.out.tab.gz
/SRR8052817.ReadsPerGene.out.tab.gz
/SRR8052771.ReadsPerGene.out.tab.gz
/SRR8052740.ReadsPerGene.out.tab.gz
/SRR8052731.ReadsPerGene.out.tab.gz
/SRR8052818.ReadsPerGene.out.tab.gz
/SRR8052826.ReadsPerGene.out.tab.gz
/SRR8052793.ReadsPerGene.out.tab.gz
